<div class="container">
    <h3>Formulário de Produtos</h3>

    <div>
        <!-- <div class="mb-3">
            <label for="id" class="form-label">ID:</label>
            <input type="number" [(ngModel)]="produto.id" id="id" class="form-control" placeholder="id ..">
        </div> -->
        
        <div class="mb-3">
            <label for="nome" class="form-label">NOME:</label>
            <input type="text" [(ngModel)]="produto.nome" id="nome"
                class="form-control" placeholder="nome do produto ..">
        </div>

        <div class="mb-3">
            <label for="preco" class="form-label">PRECO:</label>
            <input type="number" [(ngModel)]="produto.preco" id="preco"
                class="form-control" placeholder="preço ..">
        </div>

        <div class="mb-3">
            <label for="marca" class="form-label">MARCA:</label>
            <input type="text" [(ngModel)]="produto.marca" id="marca"
                class="form-control" placeholder="marca ..">
        </div>

        <div class="mb-3">
            <label for="dataValidade" class="form-label">Data de Validade:</label>
            <input type="date" [(ngModel)]="produto.dataValidade" id="dataValidade"
                class="form-control" placeholder="data de validade ..">
        </div>

        <button class="btn btn-primary me-3" (click)="salvar()">{{botaoAcao}}</button>
        <button class="btn btn-primary" (click)="voltar()">Voltar</button>

    </div>
</div>